:root {
  --color-primary: #212529;
  --color-secondary: #000;
  --color-secondary-transparent: rgba(0, 0, 0, .5);
  
  --border-color-1: rgba(0, 0, 0, .3);

  --background-color: #fff;
  --cards-backdrop-color: rgba(0, 0, 0, .3);
  
  --color-white: #fff;
}