* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img, svg {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-block: 3.3rem;

  &::-webkit-scrollbar {
    background-color: var(--background-color);
    width: 5px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 8px;
  }
}

main, header {
  transition: .5s ease;
}