.font {
  font-family: 'Poppins';
  color: var(--color-black-1);
  
  &.primary {
    font-size: clamp(1.8rem, 5vw, 3rem);
    font-weight: 600;
  }

  &.secondary {
    font-size: clamp(1.5rem, 5vw, 2.6rem);
    font-weight: 400;
  }

  &.tertiary {
    font-size: clamp(.8rem, 5vw, 1.6rem);
    font-weight: 400;
  }

  &.quaternary {
    font-size: clamp(.8rem, 5vw, 1rem);
    font-weight: 400;
  }
}
