.desktopList__container {
	display: none;

	@media (min-width: 750px) {
		display: flex;
		justify-content: center;

		flex-wrap: wrap;
		flex-basis: 1;

		gap: clamp(1rem, 5vw, 5rem);
		row-gap: 0rem;

		position: relative;

		& > button {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: 50%;
      
      background-color: transparent;
      outline: none;

      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
				opacity: .3;
      }

      border: 2px solid var(--border-color-1);
      border-radius: 100%;
      
      padding: .8rem;

      width: 3.75rem;
      height: 3.75rem;

			& > svg {
        width: 100%;
        height: 100%;

				color: var(--color-primary);
			}
		}

		& > button:first-child {
			left: -5px;
		}

		& > button:last-child {
			right: -10px;
		}
	}
}
