.projectsList__container {
  display: flex;
  flex-direction: column;

  gap: 4rem;

  @media (min-width: 450px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  
    column-gap: 3.8rem;
    row-gap: 4rem;
  }
}