.technologiesSection__container {
  min-height: 45vh;
  margin-top: 1rem;

  @media (min-width: 600px) {
    min-height: 65vh;
  }

  & > div {
    display: flex;
    flex-direction: column;

    gap: 2rem;

    & > ul > li {
      min-height: clamp(120px, 50vw, 300px);
      min-width: clamp(120px, 50vw, 250px);
      
      & > svg {
        height: 100%;
        width: 100%;
        
        padding: 1rem;
        
        color: var(--color-secondary);
        filter: drop-shadow(16px 16px 4px var(--cards-backdrop-color));
      }
    }
  }
}